/* Default background colour */
html body {
    background-color: #191b1c;
}

/* Set padding & colour for h1 */
h2 {
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    color: green;
}

/* Set padding & colour for h3 */
h3 {
    padding-left: 25px;
    padding-right: 25px;
    color: greenyellow;
}

/* Set padding & colour for h5 */
h5 {
    padding-left: 25px;
    padding-right: 25px;
    color: lightblue;
}

p {
    padding-left: 25px;
    padding-right: 25px;
    color: white;
}

a {
    padding-left: 25px;
    padding-right: 25px;
}

li {
    padding-left: 10px;
    padding-right: 25px;
    color: white;
 }

/* Colour to alternate look of website */
.bg-darkalt {
    background-color: #2a2f34;
}

img {
    padding-left: 25px;
    padding-right: 25px;
    color: white;
}

ol {
    padding-left: 25px;
    padding-right: 25px;
    color: white;
}

.bg-navDarkAlt {
    background-color: #1e1e1e;
}

